body {
  margin: 0;
  padding: 0;
  font-family: Sans-serif;
}

.jumbotron {
	background-color: #bcc4f2;
	color: #092147;
}

footer {
   position: fixed;
   left: 0;
   bottom: 0;
   text-align: left;
}

#form input[type=text] {
	border: 1px solid #808080;
}

/* /////////////////////////////////////////////////// */
/* //////////////////// NAVBAR /////////////////////// */
/* /////////////////////////////////////////////////// */

.navbar {
	background-color: #092147;
	border: none;
	box-shadow: 0 0 2px 2px #0b102d
}

.nav-item #navbar-text, #buttonForgot{
  color: #bcc4f2;
  background-color: #092147;
}

#navbar-text:hover, #navbar-text:focus, #buttonForgot:hover {
   color: white;
}
     
#right-fields {
	margin-right: 10px;
}

/* SEARCH */  
.input-group-btn > .btn {
	background-color: #092147;
	color: #bcc4f2;
	height: 34px;
}
.input-group-btn > .btn:hover {
	color:white;
}
.navbar-form > .input-group > .form-control {
	background-color: white;
	font-weight:bold;
	color: #092147;
}


/* LOGIN */
#form-field {
  border: none;
}

#checkbox{
	margin-left:6px;
	margin-top:4px;
}

.text-form{
	margin-left:6px;
}

#forgotText {
	margin-left:5px;
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 15px solid #bcc4f2;
  left: 5%;
  position: absolute;
  top: -16px;
}

.login-form {
  background: #cce6ff;
  width: 300px;
  height: 255px;
  border: 2px solid #80bfff;
  padding-top: 5px;
  position: absolute;
  color: #001a33;
  margin: -214px;
  top: 56px;
  box-shadow: 0 0 1px 1px #0b102d;
}

.login-form input[type="text"], .login-form input[type="password"] {
  padding: 7px 5px;
  margin-left: 7px;
  margin-bottom:5px;
  width: 93%;
  display: block;
  font-size: 18px;
  border-radius: 5px;
  border: none;
  -webkit-transition: 0.3s linear;
  -moz-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  transition: 0.3s linear;
}

.login-form input[type="text"]:focus, .login-form input[type="password"]:focus {
  outline: none;
  box-shadow: 0 0 1px 1px #1abc9c;
    opacity:2.0;
}

.login-form input[type="submit"] {
  background: #092147;
  padding: 10px;
  font-size: 20px;
  display: block;
  width: 95%;
  border: none;
  color: #bcc4f2;
  border-radius: 5px;
  margin-left: 4px;
  margin-top: 3px;
}

#form-field input::placeholder {
  color: #ffc299s;
}

.login-form input[type="submit"]:active {
   background: #103b7f;
}
.login-form input[type="submit"]:hover {
   color: white;
}

/* */