body {
  margin: 0;
  padding: 0;
  background-color: #bcc4f2;
  font-family: Sans-serif;
}

.navbar {
	background-color: #092147;
	border: none;
	box-shadow: 0 0 2px 2px #0b102d
}

#navbar-text, #login-form {
  color: #bcc4f2;
  background-color: #092147;
}

#navbar-text:hover, #login-form:hover, #navbar-text:focus, #login-form:focus {
   color: white;
}

#right-fields {
	margin-right: 10px;
}

/* SEARCH */
.input-group-btn > .btn {
	background-color: #092147;
	color: #bcc4f2;
}
.input-group-btn > .btn:hover {
	color:white;
}
.navbar-form > .input-group > .form-control {
	background-color: #bcc4f2;
	font-weight:bold;
	font-size: 15px;
}

/* LOGIN */
fieldset {
  border: none;
}
.login {
  position: absolute;
  width: 350px;
  display: none;
}
.arrow-up {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 15px solid #bcc4f2;
  left: 6%;
  position: absolute;
  top: -10px;
}
.formholder {
  background: #cce6ff;
  width: 300px;
  height: 199px;
  margin-top: 3px;
  border: 2px solid #80bfff;
  padding-top: 5px;
  position: relative;
  color: #001a33;
  border-radius: 5px;
  box-shadow: 0 0 1px 1px #0b102d
}
.formholder input[type="text"], .formholder input[type="password"] {
  padding: 7px 5px;
  margin: 0px 0px 5px 6px;
  width: 96%;
  display: block;
  font-size: 18px;
  border-radius: 5px;
  border: none;
  -webkit-transition: 0.3s linear;
  -moz-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  transition: 0.3s linear;
}
.formholder input[type="text"]:focus, .formholder input[type="password"]:focus {
  outline: none;
  box-shadow: 0 0 2px 2px #1abc9c;
}
.formholder input[type="submit"] {
  background: #092147;
  padding: 8px;
  font-size: 20px;
  display: block;
  width: 97%;
  margin: 10px 0px 0px 4px;
  border: none;
  color: #fff;
  border-radius: 5px;
}
.formholder input[type="submit"]:active {
   background-color: #0066ff;
}