body {
  margin: 0;
  padding: 0;
  font-family: Sans-serif;
}

.jumbotron {
	background-color: #bcc4f2;
	color: #092147;
}
.navbar {
	background-color: #092147;
	border: none;
	box-shadow: 0 0 2px 2px #0b102d
}

#navbar-text, #login-form {
  color: #bcc4f2;
  background-color: #092147;
}

#navbar-text:hover, #login-form:hover, #navbar-text:focus, #login-form:focus {
   color: white;
}

#right-fields {
	margin-right: 10px;
}

footer {
   position: fixed;
   left: 0;
   bottom: 0;
   text-align: left;
}

input[type=text] {
	border: 1px solid #808080;
}

/* SEARCH */
.input-group-btn > .btn {
	background-color: #092147;
	color: #bcc4f2;
}
.input-group-btn > .btn:hover {
	color:white;
}
.navbar-form > .input-group > .form-control {
	background-color: white;
	font-weight:bold;
	color: #092147;
}

/* LOGIN */

.login {
  position: absolute;
  width: 350px;
  display: none;
}
.arrow-up {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 15px solid #bcc4f2;
  left: 6%;
  position: absolute;
  top: -21px;
}
.dropdown-menu {
  background: #bcc4f2;
  width: 300px;
  height: 220px;
  margin-top: 3px;
  border: 2px solid #80bfff;
  padding-top: 5px;
  position: absolute;
  color: #001a33;
  border-radius: 5px;
  box-shadow: 0 0 1px 1px #0b102d;
  margin: -220px;
  top: 55px;
}
.dropdown-menu input[type="text"], .dropdown-menu input[type="password"] {
  padding: 7px 5px;
  margin: 0px 0px 5px 6px;
  width: 96%;
  display: block;
  font-size: 18px;
  border-radius: 5px;
  border: none;
  -webkit-transition: 0.3s linear;
  -moz-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  transition: 0.3s linear;
}
.dropdown-menu input[type="text"]:focus, .dropdown-menu input[type="password"]:focus {
  outline: none;
  box-shadow: 0 0 2px 2px #092147;
}
.dropdown-menu input[type="submit"] {
  background: #092147;
  padding: 8px;
  font-size: 20px;
  display: block;
  width: 97%;
  margin: 10px 0px 0px 4px;
  border: none;
  color: #bcc4f2;
  border-radius: 5px;
  box-shadow: 0 0 5px 5px #bcc4f2;
}
.dropdown-menu input[type="submit"]:focus {
   color: white;
}