<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Prenotazione Visita Medica</display-name>
  <welcome-file-list>
    <welcome-file>home.html</welcome-file>
    <welcome-file>home.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>home.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Home</servlet-name>
    <servlet-class>controller.Home</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Home</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EffettuaPrenotazione</servlet-name>
    <servlet-class>controller.EffettuaPrenotazione</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EffettuaPrenotazione</servlet-name>
    <url-pattern>/effettuaPrenotazione</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>controller.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>controller.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RicercaPrenotazione</servlet-name>
    <servlet-class>controller.RicercaPrenotazione</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RicercaPrenotazione</servlet-name>
    <url-pattern>/ricercaPrenotazione</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EffettuaSegnalazione</servlet-name>
    <servlet-class>controller.EffettuaSegnalazione</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EffettuaSegnalazione</servlet-name>
    <url-pattern>/effettuaSegnalazione</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RestituisciPrenotazioni</servlet-name>
    <servlet-class>controller.RestituisciPrenotazioni</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RestituisciPrenotazioni</servlet-name>
    <url-pattern>/restituisciPrenotazioni</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RestituisciSegnalazioni</servlet-name>
    <servlet-class>controller.RestituisciSegnalazioni</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RestituisciSegnalazioni</servlet-name>
    <url-pattern>/restituisciSegnalazioni</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RisolviSegnalazione</servlet-name>
    <servlet-class>controller.RisolviSegnalazione</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RisolviSegnalazione</servlet-name>
    <url-pattern>/risolviSegnalazione</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RipristinoPassword</servlet-name>
    <servlet-class>controller.RipristinoPassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RipristinoPassword</servlet-name>
    <url-pattern>/ripristinoPassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ConvalidaPrenotazione</servlet-name>
    <servlet-class>controller.ConvalidaPrenotazione</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConvalidaPrenotazione</servlet-name>
    <url-pattern>/convalidaPrenotazione</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateAdmin</servlet-name>
    <servlet-class>controller.UpdateAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateAdmin</servlet-name>
    <url-pattern>/update</url-pattern>
  </servlet-mapping>
</web-app>